
.wrapper{
  margin: 0 auto ;
  height: auto;
  padding: 0;
  width: 1513px;
  max-width: 100%;
  border: none;
  /* border: 1px solid #000;  */
}

.navbar{
  /* position: fixed; */
  /* width: 141px; */
  display: flex;
  height: 80px;
  background-color:#ffff;
  width: 1513px;
  display: flex;
  padding: 2rem;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}



.navbar>h2{
  margin-left: 15px;
  font-size: 27px;
}
.nav_ul{
  display: flex;
  margin-left:430px;
  text-decoration: none;
}

.nav_ul>li{
margin-left: 50px;
font-size: 18px;
list-style: none;
text-decoration: none;
margin-top: 15px;

}


.nav_ul>li>a{
  text-decoration: none;
  list-style: none;
  color:#1B1A1A;
}



.a_nav:hover{
  width: 100%;
  border-bottom: 2.5px solid black;

}





.btn_nav{

  width: 140px;
  height: 40px;
  margin-right: 34px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  margin-top: 2px;
  padding: 2px;
  }

  .section-1{
    display: flex;
    /* border: 1px solid black; */
  }

  .section-1_text{
    width: 757px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    background-color:  #ECE7E4;


  }


  .section-2_img{
    margin-left: 0px;
    width: 757px;

    /* border: 1px solid black; */

  }


  .section-2_img>img{
    width: 100%;
  }

  .top_text{
    width: 540px;
    height: 350px;
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top:40px;
  }


  .top_text>h1{
    font-size: 60px;
    margin-top: -20px;
  }
.top_text>p{
  margin-top: 50px;
  font-size: 21px;
}

.bottom_text{
 /* border: 1px solid #000;  */
 width: 500px;
 margin-left: 50px;
 margin-bottom: 70px;
}
.bottom_text>p{
  font-size: 20px;
}

.readMore{
  margin-left: 400px;
  margin-top: 20px;
}

.readMore>a{
  text-decoration: none;
  color: black;
}





.section-2{
  display: flex;
  justify-content:center;
  height: 630px;
  margin-top: 50px;
}

.section-2_box-1{
  width: 400px;
  /* border: 1px solid #000; */
  margin-top: 50px;
  margin-left: 20px;
  color:#1B1A1A;

}

.section_img{
  width: 160px;
  height: 200px;
  margin-top: -70px;
}

.section-2_box-2{
  width: 500px;
  font-size: 20px;
  margin-top: 50px;

  
}

.section-2_box-2-img{
  margin-top: 25px;
}

.section-3{
  margin-top: 160px;
  height: 700px;
  border: none;
}
.section-3Img{
  width: 100%;
}
 
.section-4{
  height: 500px;
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 1500px;
  max-width: 100%;

}

.section-4Img{
  width: 100%;
  /* height: 630px; */
}


.section-5{
  height: 500px;
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 1513px;
}


.section-5Img
{
  width: 100%;
  height: 600px;
}


.section-6{
  margin-top: 100px;
  height: 400px;
  background-color: #403E3B;
  width: 1513px;
  max-width: 100%;
}

.section-6Img{
  margin-left: 200px;
  margin-top: 60px;
}
.section-7Img{
  width: 1513px;
  max-width: 100%;
  max-width: 100%;
}

.section-8{
  /* border: 1px solid #000; */
  height: 970px;
  text-align: center;
  background: #F7F7F7;
}

.section-8Img{
  margin-top: 150px;
}

.section-9{
  border: none;
  height: 700px;
  text-align: center;
  background: #fff;
}

.section-9{
display: flex;
}
.section-9Box1{
  width: 470px;
  height: 359px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  font-size: 20px;
  /* color: #403E3B; */
  justify-content: start;
  margin-left: 170px;
  margin-top: 70px;

}
.section-9Box2{
  width: 900px;
  height: auto;
  border: none;
  margin-top: 60px;
}

.section-9Img{
  width: 100%;
  margin-top: 80px;
}
.section-9Img2{
  margin-top: 90px;
}
.section-10{
  border:none;
  width: 1513px;
}

.section-10Img{
width: 100%;
}

footer{
  border: none;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footerImg{
  width: 80%;
}



/* @media (min-width:0px) and (max-width:470px) {
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
  }

  .navbar{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    height: auto;
  }

  .navbar>h2{
    margin-left: 70px;
  }

  .nav_ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
    margin-left: 90px;
    height: auto;
  }
  .nav_ul>li{
    display: flex;
   flex-wrap: wrap;
    width: 460px;
    height: auto;
  }

  .btn_nav{
    margin-left: 140px;
    margin-top: 10px;
    width: 120px;
  }


  .section-1{
    width: 470px;
    
    display: flex;
    flex-wrap: wrap;

  }


  .section-1_text{
    height: 500px;
    width: 235px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    background-color:  #ECE7E4;


  }


  .section-2_img{
    margin-left: 0px;
    width: 235px;

  }


  .section-2_img>img{
    width: 85%;
  }

  .top_text{
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top:0px;
  }


  .top_text>h1{
    font-size: 30px;
    margin-top: 0px;
  }
.top_text>p{
  margin-top: 15px;
  font-size: 21px;
}

.bottom_text{
 width: 200px;
 margin-left: 0px;
 margin-bottom: 0px;

 
}


.readMore{
  margin-left: 100px;
  margin-top: 20px;
}

.readMore>a{
  text-decoration: none;
  color: black;
}

} */